{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create news Program</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type = "text/javascript" src = "{% static "js/jquery-2.2.3.min.js" %}"></script>
    <script src="{% static "js/newsapp-jquery.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "datetimepicker/src/DateTimePicker.css" %}">
    <script type = "text/javascript" src="{% static "datetimepicker/src/DateTimePicker.js" %}"></script>
    <script src="{% static "html5sortable/jquery.sortable.js" %}"></script>
    <script src="{% static "ckeditor/ckeditor.js" %}"></script>
    <link rel="stylesheet" href="{% static "bootstrap-3.3.6/dist/css/bootstrap.min.css" %}">
    <script src="{% static "bootstrap-3.3.6/dist/js/bootstrap.min.js" %}"></script>
  <style type="text/css">
    .connected, .sortable, .exclude, .handles {
      margin: auto;
      padding: 0;
      width: 210px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .sortable.grid {
      overflow: hidden;
    }
    .connected li, .sortable li, .exclude li, .handles li {
      list-style: none;
      border: 1px solid #CCC;
      background: #F6F6F6;
      font-family: "Tahoma";
      color: #1C94C4;
      margin: 5px;
      padding: 5px;
      height: 162px;
    }
    .handles span {
      cursor: move;
    }
    li.disabled {
      opacity: 0.5;
    }
    .sortable.grid li {
      line-height: 80px;
      float: left;
      width: 80px;
      height: 80px;
      text-align: center;
    }

    #connected {
      width: 440px;
      overflow: hidden;
      margin: auto;
    }
    .connected {
      float: left;
      width: 200px;
    }

    li.sortable-placeholder {
      border: 1px dashed #CCC;
      background: none;
    }
    li.highlight {
      background: #FEE25F;
    }
    body {
      margin: 0;
      overflow: auto;
    }
    #whiteText{
      color: #FFFFFF;
      margin-top: 8px;
      margin-left: 2px;
    }
    #bg-color-header{
      background-color: #2a2928;
    }
    #bg-color-header2{
      background-color: #e8ffed;
    }
    input{
      margin-top: 4px;
    }


    .hourglass{
        display:block;
        background:$bg;
        margin:3em auto;
        width:2em;
        height:4em;
        box-shadow:
            inset $bg 0 0 0 0,
            inset $fill 0 2em 0 0,
            inset $bg 0 0 4em 0;
        animation:hourglass 1s linear infinite;
    }

    .outer{
        fill:$fill;
    }

    .middle{
        fill:$bg;
    }

    @keyframes hourglass{
        0%{
            transform:rotate(0deg);
            box-shadow:
                inset $bg 0 0 0 0,
                inset $fill 0 2em 0 0,
                inset $bg 0 4em 0 0,
                inset $fill 0 4em 0 0;
        }
        80%{
            transform:rotate(0deg);
            box-shadow:
                inset $bg 0 2em 0 0,
                inset $fill 0 2em 0 0,
                inset $bg 0 2em 0 0,
                inset $fill 0 4em 0 0;
        }
        100%{
            transform:rotate(180deg);
            box-shadow:
                inset $bg 0 2em 0 0,
                inset $fill 0 2em 0 0,
                inset $bg 0 2em 0 0,
                inset $fill 0 4em 0 0;
        }
    }
  </style>
  </head>
<body>

<!-- Main field that background is black. -->
<div class="container-fluid">
  <div class="row" id="bg-color-header">
    <form action="#" class="form-inline" role="form">
      <!-- name field-->
      <div class="form-group">
        <label for="email" id="whiteText">Name:</label>
        <input type="text" name="name_field" value="{% ifnotequal program.name 'untitled' %}{{program.name}} {% endifnotequal %}" id="{{program.id}}" required="Please insert program's name.">
      </div>
      <!--start time field-->
      <div class="form-group">
        <label for="email" id="whiteText">Date:</label>
        <input type="text" name="start_date_field" data-field="date" value="{{news_start_date}}" readonly>
        <label for="email" id="whiteText">Start time:</label>
        <input type="text" name="start_time_field" data-field="time" value="{{news_start_time}}" readonly>
      </div>
      <!--end time field-->
      <div class="form-group">
        <label for="email" id="whiteText">End time:</label>
        <!--
        <input type="text" name="end_date_field" data-field="date" value="{{news_end_date}}" readonly> --> 
        <input type="text" name="end_time_field" data-field="time" value="{{news_end_time}}" readonly>
      </div>
      <!--screen field-->
      <div class="form-group">
        <label for="email" id="whiteText">Screen:</label>
        <select name="screen_field" selected={{news_screen}}>
            {% for each_screen in all_screen %}
              {% ifequal each_screen.name news_screen %}
                  <option value="{{each_screen.name}}" selected>{{each_screen.name}}</option>
              {% else %}
                  <option value="{{each_screen.name}}">{{each_screen.name}}</option>
              {% endifequal %}
              }
            {% endfor %}
        </select>
      </div>

    </form>
  </div>


<!--secound main field that background is blue.-->
  <div class="row" id="bg-color-header2" >
    <!--plus button and garbage button-->
    <div class="col-md-2" style="margin-top: 3px">
      <div class="col-md-6">
        <button name="plus_button" class="btn btn-default btn-sm" id="add-new-widget"><span class="glyphicon glyphicon-plus-sign" id="{{program.id}}"></span></button>         
      </div>
      <div class="col-md-6">
        <button name="garbage_button" class="btn btn-default btn-sm" id="garbage-button" data-toggle="modal" data-target="#deleteModal"><span class="glyphicon glyphicon-trash"></span></button>
      </div>

    </div>
    <!--All plugin buttons and time field.-->
    <div class="col-md-6">
      <div name="cms_plugins">
        <button name="text_plugin_button" class="btn btn-default btn-sm" id="TextBtn">Text</button>
        <button name="image_plugin_button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#ImageModal"><span class="glyphicon glyphicon-picture"></span></button>
        <button name="pdf_plugin_button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#pdfModal"><span class="glyphicon glyphicon-file"></span></button>
        <button name="video_plugin_button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#VideoModal"><span class="glyphicon glyphicon-film"></span></button>
        Time: <input type="text" name="time_field" value=""> 
        Tags: <!--<input type="text" name="tags_field" value="">--> 
        <select name="tags_field" value="" onchange="tags_change(this);">
          <option value="">--------</option>
          <option value="ภาควิชา">ภาควิชา</option>
          <option value="กิจกรรม">กิจกรรรม</option>
          <option value="ทั่วไป">ทั่วไป</option>
          <option value="รับสมัครงาน/ฝึกงาน">รับสมัครงาน/ฝึกงาน</option>
        </select>
      </div>
    </div>
    <!-- published save preview and close buttons -->
    <div class="col-md-4" style="margin-top: 3px">
        {% if program.publish == True %}
        <button class="btn btn-warning btn-sm" name="update_button" >update</button>
        <button class="btn btn-default btn-sm" name="backToDraft_button" >back to draft</button>
        {% else %}
        <button class="btn btn-warning btn-sm" name="publish_button" >publish</button>
        <button class="btn btn-default btn-sm" name="save_button" >save</button>
        {% endif %}
        <a href="" target="_blank" class="btn btn-default btn-sm" name="preview_button" role="button">preview</a>
        <a href="{% url 'newsapp:get_all_announce' %}" class="btn btn-default btn-sm" name="close_button" role="button">close</a>
    </div>
  </div>

  <div class="row">
    <div name="alert-something"></div>
  </div>
<!-- ##################  Page viewer    #################### -->
  <div class="row">
    <div class="col-md-2">
      <div style='overflow:auto; height:640px;background-color: #CCCCCC;'>
        <ul class="sortable list" id="page-viewer">
          {% for page in list_page %} 
            {% if forloop.first %}
              <li onclick="toggleSelected(this)" class="highlight" id="{{page.web_page.id}}&{{page.web_page.interval}}&{{page.web_page.tag}}"> <p>{{forloop.counter}}
              {% if page.has_edit %}
                <a href="#" onclick="EditTextData('{{page.web_page.id}}')"> Edit</a>
              {% endif %}
              </p>
              <a href="{{page.web_page.url}}" target="frame_example" name="link_page">
              {% if page.web_page.picture %}
              <img src="{{page.web_page.picture.url}}" width="180px" height="120px">
              {% endif %}
              </a>
              </li>
            {% else %}  
              <li onclick="toggleSelected(this)" id="{{page.web_page.id}}&{{page.web_page.interval}}&{{page.web_page.tag}}"> <p>{{forloop.counter}} 
              {% if page.has_edit %}
                <a href="#" onclick="EditTextData('{{page.web_page.id}}')"> Edit</a>
              {% endif %}
              </p>
              <a href="{{page.web_page.url}}" target="frame_example" name="link_page">
              {% if page.web_page.picture %}
              <img src="{{page.web_page.picture.url}}" width="180px" height="120px">
              {% endif %}
              </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-10">
      <div class="embed-responsive embed-responsive-16by9" style='overflow:hidden; height:200px;'>
        <iframe frameborder="0" class="embed-responsive-item" name="frame_example"></iframe>
      </div>
    </div>
  </div>
</div>
<!-- use jquery adjust id following a selected page like this example as action="/newsapp/add_plugin/<page_id>".  -->
<!-- Modal text ckeditor area-->
<div id="TextModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Text plugin</h4>
      </div>
      <div class="modal-body">
        <form name="TextPlugin" action="" method="post">
        {% csrf_token %}
        <textarea name="editor1" required="Please fill some content."></textarea>
        <script>
          CKEDITOR.replace( 'editor1',{
            filebrowserBrowseUrl : '/image/image_browser/',
            filebrowserUploadUrl: '../../../image/image_uploader/'
          });
        </script>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info" name="text_submit">Save</button>
        </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal upload image -->
<div id="ImageModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Image plugin</h4>
      </div>
      <div class="modal-body">
      <form name="ImagePlugin" enctype="multipart/form-data" action="" method="POST">
      {% csrf_token %}
        <input type="file" name="ImageUploader"  style = "margin-left:20%;">
     
        <div name="alert-ImageUploader"></div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info" name="image_submit">Save</button>
      </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    
    </div>

  </div>
</div>

<!-- Modal upload pdf -->
<div id="pdfModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">PDF plugin</h4>
      </div>
      <div class="modal-body">
      <form name="pdfPlugin" enctype="multipart/form-data" action="" method="post">
      {% csrf_token %}
        <input name="pdfUploader" type="file" style = "margin-left:20%;">
        <div name="alert-pdfUploader"></div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info" name="pdf_submit">Save</button>
        </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      
    </div>

  </div>
</div>

<!-- Modal upload video -->
<div id="VideoModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Video plugin</h4>
      </div>
      <div class="modal-body">
      <form name="VideoPlugin" enctype="multipart/form-data" action="" method="post">
      {% csrf_token %}

        <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
        <li class="active"><a href="#tabUpload" data-toggle="tab">Upload</a></li>
        <li><a href="#tabURL" data-toggle="tab">URL</a></li>
        </ul>
        <div class="tab-content">
        <div class="tab-pane active" id="tabUpload">
          <input name="VideoUploader" type="file" style = "margin-left:20%;margin-top:5%;">
          <div name="alert-VideoUploader"></div>
        </div>
        <div class="tab-pane" id="tabURL">
          <input class="form-control" id="inputdefault" name="inputVideoURL" placeholder="Insert video url here" type="text" style = "margin-top:5%;">
        </div>
        </div>
        </div>

        
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info" name="video_submit">Save</button>
        </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal delete page -->
<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">delete page</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure want to delete this page.</p>
      </div>
      <div class="modal-footer">
        <button name="delete_button" type="button" id="" class="btn btn-danger" data-dismiss="modal">delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal process spiner -->
<div id="SpinerModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="wrapper" name="spiner">
            <svg class="hourglass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 206" preserveAspectRatio="none">
                <path class="middle" d="M120 0H0v206h120V0zM77.1 133.2C87.5 140.9 92 145 92 152.6V178H28v-25.4c0-7.6 4.5-11.7 14.9-19.4 6-4.5 13-9.6 17.1-17 4.1 7.4 11.1 12.6 17.1 17zM60 89.7c-4.1-7.3-11.1-12.5-17.1-17C32.5 65.1 28 61 28 53.4V28h64v25.4c0 7.6-4.5 11.7-14.9 19.4-6 4.4-13 9.6-17.1 16.9z"/>
                <path class="outer" d="M93.7 95.3c10.5-7.7 26.3-19.4 26.3-41.9V0H0v53.4c0 22.5 15.8 34.2 26.3 41.9 3 2.2 7.9 5.8 9 7.7-1.1 1.9-6 5.5-9 7.7C15.8 118.4 0 130.1 0 152.6V206h120v-53.4c0-22.5-15.8-34.2-26.3-41.9-3-2.2-7.9-5.8-9-7.7 1.1-2 6-5.5 9-7.7zM70.6 103c0 18 35.4 21.8 35.4 49.6V192H14v-39.4c0-27.9 35.4-31.6 35.4-49.6S14 81.2 14 53.4V14h92v39.4C106 81.2 70.6 85 70.6 103z"/>
            </svg>
        </div>
      </div>
    </div>

  </div>
</div>


<div id="datetimeInput"></div> <!-- for using datetimepicker -->
<div id="newsapp_create_page"></div>

  <script>
    $(function() { // to enable using sortable drag and drop object.
      $('.sortable').sortable();
      $('.handles').sortable({
        handle: 'span'
      });
      $('.connected').sortable({
        connectWith: '.connected'
      });
      $('.exclude').sortable({
        items: ':not(.disabled)'
      });
    });

    $('.sortable').sortable().bind('sortupdate', function() {
        //Triggered when the user stopped sorting and the DOM position has changed.
      $("#page-viewer").find("li").each(function(i){ // i is index.
          $('p',this).text((i+1).toString());// select p inside this.
      });
    });

    function tags_change(sel){ // read data form tag field.
      var stag =  sel.value; //$(this).val();
      var selected_tags_field = $("li.highlight").attr("id").toString();
      selected_tags_field = selected_tags_field.split('&');
      $("li.highlight").attr("id", selected_tags_field[0] + '&' + selected_tags_field[1] + '&' + stag.toString());
      console.log("change tags >>>>>>>>>>>>>>>>");
      console.log($("li.highlight").attr("id"));
    }
  </script>
</body>
</html>
{% endblock content %}