<h1>List Page</h1>

{% regroup all_page by page_name as page_name_list %}
<ul>
	{% for page_name in page_name_list %}
	 	<li>{{ page_name.grouper }}
	 	<ul>
	 		{% for item in page_name.list %}
	 		{% ifequal forloop.counter 1 %}
	 			<li>{{ item.page_name }}</li>
	 			<a href="{{item.draft_url}}" target="_blank"> edit page</a>
  				<a href="{% url 'newsapp:show_example' item.id %}" > view example</a>
  				<a href="{% url 'newsapp:delete_page' item.id %}">delete</a>
  			{% endifequal %}
  			{% endfor %}
	 	</ul>
		</li>
	{% endfor %}
</ul>
<a href="{% url 'newsapp:to_create_page' %}" target="_blank"> create page</a>
<br><br>
<a href="{% url 'newsapp:show_all_screen' %}">screen status</a><br>
<a href="{% url 'newsapp:get_all_announce' %}">news</a><br>
<a href="{% url 'newsapp:show_all_page' %}">page</a><br>
<a href="{% url 'newsapp:view_screen' %}">screen</a><br>
<a href="{% url 'newsapp:get_time_table' %}">Time table</a><br>