{% load staticfiles %}
<!DOCTYPE html>
<html>
<title>KMUTNB Engineer's Announcements</title>
<head>
<meta charset='UTF-8'>
<meta http-equiv="pragma" content="no-cache" />
<meta name='description' content="Engineer's annoucement">
<meta name='keywords' content='HTML,CSS,XML,JavaScript'>
<meta name='author' content="KMUTNB's student">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script type = "text/javascript" src = "{% static "js/jquery-2.2.3.min.js" %}"></script>
<link rel="stylesheet" href="{% static "bootstrap-3.3.6/dist/css/bootstrap.min.css" %}">
<script src="{% static "bootstrap-3.3.6/dist/js/bootstrap.min.js" %}"></script>
<link rel='stylesheet' href="{% static "FrontEnd/w3.css" %}">
<link rel='stylesheet' href="{% static "FrontEnd/w3-theme-black.css" %}">
<link rel='stylesheet' href="{% static "FrontEnd/Roboto.css" %}">
<link rel='stylesheet' href="{% static "FrontEnd/font-awesome/css/font-awesome-min.css" %}">
<link rel='stylesheet' href="{% static "FrontEnd/Font/Pridi-font.css" %}">


</head>
<style>


input[type=searchform] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('pic/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    
}
html,body,h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', sans-serif}
.w3-sidenav a,.w3-sidenav h4{padding:12px;}
.w3-navbar a{padding-top:12px !important;padding-bottom:12px !important;}
</style>
<body  onload='clearInput()'>
<!-- Navbar -->
<ul class='w3-navbar w3-theme w3-top w3-left-align w3-large w3-bottombar w3-border-red' style='z-index:4;'>
  <li class='w3-opennav w3-right w3-hide-large'>
    <a class='w3-hover-white w3-large w3-theme-l1' href='javascript:void(0)' onclick='sidenav_open()'><i class='fa fa-bars'></i></a>
  </li>
  <li><a href='{% url "viewer:main_page" %}' class='w3-theme-l1'>Home</a></li>

</ul>
  </div>
</div>







<!-- Sidenav for admin -->
<nav class='w3-sidenav w3-collapse w3-theme-l5 w3-animate-left' style='z-index:3;width:250px;margin-top:-20px;height:95%;' id='adminSidenav'>
  <a href='javascript:void(0)' onclick='sidenav_close()' class='w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large' title='close menu'>
    <i class='fa fa-remove'></i>
  </a>
  <h4><b>Menu</b></h4>

  <!--Manage button (only appear on admin's type user login)-->
  <div class='w3-padding'><button onclick="location.href='{% url "newsapp:show_all_screen" %}'" id='Manage-btn' class='w3-btn w3-indigo w3-large' style='width:100%'>Manage Announces<img src="{% static "FrontEnd/pic/cog.png" %}" style='margin-left:10px;width:25px;height:25px'></img></button></div>
    <!--Manage button (only appear on admin's type user login)-->
  <div class='w3-padding'><button onclick="location.href='{% url "viewer:list_viewer" %}'" id='usr-manage-btn' class='w3-btn w3-indigo w3-large' style='width:100%'>Manage Users<img src="{% static "FrontEnd/pic/cog.png" %}" style='margin-left:10px;width:25px;height:25px'></img></button></div>

 <div class='w3-padding'><button data-toggle="modal" data-target="#postModal" id='post-msg-btn' class='w3-btn w3-blue w3-large' style='width:100%'>Post Message</button></div>


  <div >
  <a href='{% url 'newsapp:to_search' %}' class='w3-right-align w3-hover-black w3-padding w3-section'><i class='fa fa-search'></i>Advance search </a>
  </div>
<!--logout button-->
  <a id='Logout-btn' class='w3-btn w3-red w3-large w3-padding w3-section' style='float:right' href="{% url 'viewer:logout' %}">Logout</a>

</nav>



<!-- Overlay effect when opening sidenav on small screens -->
<div class='w3-overlay w3-hide-large' onclick='sidenav_close()' style='cursor:pointer' title='close side menu' id='myOverlay'></div>

<!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
<div class='w3-main' style='margin-left:250px'>
  <div class='w3-row-padding' style='margin-top:70px'>
    
  </div>

<h3 class="w3-text-green " style="margin-left:20px">Add new user</h3>

{% if error_message %}
  <div class="w3-panel w3-deep-orange">
  <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">&times;</span>
    <h4>Warning!</h4>
    <p>{{error_message}}</p>
  </div> 
{% endif %}
<!--new user form-->
<form role="form" method="post" action="{% url 'viewer:create_viewer' %}">
{% csrf_token %}
<h4 style="margin-left:20px">Username</h4>

<input name="username" type="text" class="w3-xmedium w3-section" style="width:30%;margin-left:20px;min-width:200px"></br>
<!---->
<h4 style="margin-left:20px">Firstname</h4>

<input name="first_name" type="text" class="w3-xmedium w3-section" style="width:30%;margin-left:20px;min-width:200px"></br>
<!---->
<h4 style="margin-left:20px">Lastname</h4>

<input name="last_name" type="text" class="w3-xmedium w3-section" style="width:30%;margin-left:20px;min-width:200px"></br>
<!---->
<h4 style="margin-left:20px">Password</h4>

<input name="password" type="password" class="w3-xmedium w3-section" style="width:30%;margin-left:20px;min-width:200px"></br>
<!---->
<h4 style="margin-left:20px">Confirm Password</h4>

<input name="password_confirm" type="password" class="w3-xmedium w3-section" style="width:30%;margin-left:20px;min-width:200px"></br>

<button class="w3-btn w3-xxmedium w3-blue w3-section" style="margin-left:20px">Create user</button>
</form>


<!-- END MAIN -->
</div>

  <!-- Modal post message -->
  <div id="postModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Post message</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
          <form action="{% url 'messageapp:posted' %}" method="post">
            {% csrf_token %}
            <label for="email">message:</label>
            <input type="text" class="form-control" id="email">
          </div>
        </div>
        <div class="modal-footer">
          <button name="post_button" type="submit" id="" class="btn btn-success">Post</button>
          </form>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

  </div>
  </div>

<script>

function clearInput(){
    $('input[name=last_name]').val('');
    $('input[name=password]').val('');
}

// Script to open and close the sidenav
function sidenav_open() {
    document.getElementById('adminSidenav').style.display = 'block';
    document.getElementById('myOverlay').style.display = 'block';
}
function sidenav_close() {
    document.getElementById('adminSidenav').style.display = 'none';
    document.getElementById('myOverlay').style.display = 'none';
}

</script>

</body>
</html>


