{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create news Program</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type = "text/javascript" src = "{% static "js/jquery-2.2.3.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "bootstrap-3.3.6/dist/css/bootstrap.min.css" %}">
    <script src="{% static "bootstrap-3.3.6/dist/js/bootstrap.min.js" %}"></script>
    <link rel='stylesheet' href="{% static "FrontEnd/w3.css" %}">
    <link rel='stylesheet' href="{% static "FrontEnd/w3-theme-black.css" %}">
    <link rel='stylesheet' href="{% static "FrontEnd/Roboto.css" %}">
    <link rel='stylesheet' href="{% static "FrontEnd/font-awesome/css/font-awesome-min.css" %}">
    <link rel='stylesheet' href="{% static "FrontEnd/Font/Pridi-font.css" %}">
  </head>
<style>
input[type=searchform] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('pic/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
html,body,h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', sans-serif}
.w3-sidenav a,.w3-sidenav h4{padding:12px;}
.w3-navbar a{padding-top:12px !important;padding-bottom:12px !important;}
</style>
<body>

<!-- Navbar -->
<ul class='w3-navbar w3-theme w3-top w3-left-align w3-large w3-bottombar w3-border-red' style='z-index:4;'>
  <li class='w3-opennav w3-right w3-hide-large'>
    <a class='w3-hover-white w3-large w3-theme-l1' href='javascript:void(0)' onclick='w3_open()'><i class='fa fa-bars'></i></a>
  </li>
  <li><a href="{% url 'viewer:main_page' %}">Home</a></li>
  <li><a href='#' class='w3-theme-l1'> --> Screens</a></li>
</ul>


<!-- Sidenav -->
<nav class='w3-sidenav w3-collapse w3-theme-l5 w3-animate-left' style='z-index:3;width:250px;margin-top:-20px' id='mySidenav'>
  <a href='javascript:void(0)' onclick='w3_close()' class='w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large' title='close menu'>
    <i class='fa fa-remove'></i>
  </a>

  <!--Manage button (only appear on admin's type user login)-->
  <div style='margin-top:50px;text-align: center;'><a name="plus_button" id="add-new-screen" href="{% url 'newsapp:to_create_screen' %}" class=' w3-orange w3-large w3-round-large'>New screen</a></div>
  <div style='margin-top:10px;text-align: center;'><a href="{% url 'newsapp:show_all_screen' %}" class=' w3-hover-black w3-large'>Screen status</a></div>
  <div style='text-align: center;'><a href="{% url 'newsapp:get_all_announce' %}" class=' w3-hover-black w3-large'>Programs</a></div>
  <div style='text-align: center;'><a href="{% url 'newsapp:view_screen' %}" class=' w3-hover-black w3-large'>Screens</a></div>

  <div >

<!--login button-->
  <a class="w3-btn w3-red w3-large w3-section" style="float:right" href="{% url 'viewer:logout' %}">Logout</a>

</nav>


<!-- Overlay effect when opening sidenav on small screens -->
<div class='w3-overlay w3-hide-large' onclick='w3_close()' style='cursor:pointer' title='close side menu' id='myOverlay'></div>

<!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
<div class='w3-main' style='margin-left:250px'>
  <div class='w3-row-padding' style='margin-top:70px'>
    
  </div>
  <header class='w3-container'>



    <!--Tags select-->
  </header>


  <div id='announce' >
    <!-- First Grid-->

  </div>


  <!-- Pagination -->


<!-- END MAIN -->
</div>

<script>
// Script to open and close the sidenav
function w3_open() {
    document.getElementById('mySidenav').style.display = 'block';
    document.getElementById('myOverlay').style.display = 'block';
}
 
function w3_close() {
    document.getElementById('mySidenav').style.display = 'none';
    document.getElementById('myOverlay').style.display = 'none';
}
</script>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4 col-md-offset-2">
      
    <div class="panel panel-default">
      <div class="panel-heading"><b>screen infomation</b></div>
      <div class="panel-body">
    
        {% if screen_obj  %}
          <form action="{% url 'newsapp:create_screen' screen_obj.id %}" method="post">
        {% else %}
          <form action="{% url 'newsapp:create_screen' %}" method="post">
        {% endif %}
          {% csrf_token %}
          <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" name="screen_name" value="{{screen_name}}">
          </div>
          
          <div class="form-group">
            <label for="usr">Mute:</label>
            <input type="checkbox" name="screen_mute" value="True" {% if mute %}checked{% endif %}> 
          </div>

          <button type="submit" class="btn btn-primary">save</button>
          <a href="{% url 'newsapp:view_screen' %}"><button type="button" class="btn btn-default">cancel</button></a>
        </form>
        {% for error in error_message %}
          <p style="color:red;">{{error}}</p><br>
        {% endfor %}

      </div>
    </div>



    </div>
  </div>
</div>

</body>
</html>