{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">

        <script type = "text/javascript" src = "{% static "datetimepicker/demo/jquery-1.11.0.min.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "datetimepicker/src/DateTimePicker.css" %}">
        <script type = "text/javascript" src="{% static "datetimepicker/src/DateTimePicker.js" %}"></script>

        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}  
        <div class="container">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% show_menu 0 1 100 100 "menu.html" %}
                    </ul>
                </div>
            </div> 
            {% block content %}{% endblock content %}
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type = "text/javascript" src = "{% static "js/jquery-2.2.3.min.js" %}"></script>
        <!--<script src="{% static "js/rango-jquery.js" %}"></script>-->

        {% render_block "js" %}
    </body>
</html>
