{% extends 'base_viewer.html' %}

{% block content %}

 <form role="form" method="post" action="{% url 'viewer:create_viewer' %}" >
 {% csrf_token %}
<div class="form-group">
  <label for="usr">Userame:</label>
  <input name="username" type="text" class="form-control" id="usr">
</div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input name="password" type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label for="pwd">Password_confirm:</label>
    <input name="password_confirm" type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label for="usr">Firstname:</label>
    <input name="first_name" type="text" class="form-control" id="usr">
  </div>

  <div class="form-group">
    <label for="usr">Lastname:</label>
    <input name="last_name" type="text" class="form-control" id="usr">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
  <a href="{% url 'viewer:list_viewer' %}" class="btn btn-default">Cancel</a>

{% if error_message %}
  <p>{{error_message}}</p>
{% endif %}
{% endblock %}