{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h1>Message Page</h1>
<script type = "text/javascript" src = "{% static "js/jquery-2.2.3.min.js" %}"></script>
<script src="{% static "js/messageapp-jquery.js" %}"></script>

<p class="message_posted">{{message_posted.message}}</p>
<p class="message_starttime">   By {{message_posted.start_time}}</p><br>
<p>{{my_time}}</p>

<p class="message_warning"></p>

<div class="container-fluid">
	<div class="row" style="height: 95%;overflow-y:auto;">
		<div class="col-md-12" style="background-color:yellow;">zone 1</div>
	</div>
	<div class="row" style="position: fixed;bottom: 0;width:100%;">
		<div class="col-md-12" style="bottom:0px;background-color:pink;">zone 2</div>
	</div>
</div>

{% endblock content %}
