{% load staticfiles %}
<script type = "text/javascript" src = "{% static "js/jquery-2.2.3.min.js" %}"></script>
<!-- <script type = "text/javascript" src = "{% static "js/pdf_plugin-jquery.js" %}"></script>Test already bring out this part has no impact-->
<script type = "text/javascript" src = "{% static "pdfjs/build/pdf.js" %}"></script>
<script type = "text/javascript" src = "{% static "pdfjs/build/pdf.worker.js" %}"></script>
<div class="advise_time"></div>
<script type="text/javascript">
  var url = '{{pdf_news.file.url}}';
  PDFJS.workerSrc = '{% static "pdfjs/build/pdf.worker.js" %}';
  // Asynchronous download PDF
  PDFJS.getDocument(url)


	var currPage = 1; //Pages are 1-based not 0-based
	var numPages = 0;
	var thePDF = null;

	//This is where you start
	PDFJS.getDocument(url).then(function(pdf) {

	        //Set PDFJS global object (so we can easily access in our page functions
	        thePDF = pdf;

	        //How many pages it has
	        numPages = pdf.numPages;
	        seconds = numPages * 90; // equation for calculate advise time.
	        console.log("=========================");
	        console.log( (new Date(seconds * 1000)).toUTCString().match(/(\d\d:\d\d:\d\d)/)[0] );
	        var advise_time = (new Date(seconds * 1000)).toUTCString().match(/(\d\d:\d\d:\d\d)/)[0].split(":");
	        var time_message = 'time interval of this news is ';
	        if ( advise_time[0] != "00" ){
	        	time_message += parseInt(advise_time[0]).toString() + ' hour '; // parseInt for prevent this style such as 01, 05 actually could br 1, 5
	        }
	        if ( advise_time[1] != "00" ){
	        	time_message += parseInt(advise_time[1]).toString() + ' minute ';
	        }
	        if ( advise_time[2] != "00" ){
	        	time_message += parseInt(advise_time[2]).toString() + ' second';
	        }
	        console.log(time_message);
	        var preview_page = $("div.newsapp_show_page"); 
	        var create_page = $("div.newsapp_create_page");
	        console.log("####################");
	        console.log(create_page.length);
    		if ( (!(preview_page.length > 0)) && (create_page.length > 0) ) { // if be in preview page.
    			$('div.advise_time').attr('value', time_message);
    			$('div.advise_time').attr('style', 
    				"width: 40em;padding: 10px;text-align: center;border: 3px dashed #ccc;color: #00529B;background-color: #BDE5F8;margin-left: auto;margin-right: auto;");
    			$('div.advise_time').append(time_message); // show time advise.
    		}
	        //Start with first page
	        pdf.getPage( 1 ).then( handlePages );
	});



	function handlePages(page)
	{
	    //This gives us the page's dimensions at full scale
	    var viewport = page.getViewport( 1.5 );

	    //We'll create a canvas for each page to draw it on
	    var canvas = document.createElement( "canvas" );
	   	canvas.setAttribute('style',"padding-left: 0;padding-right: 0;margin-left: auto;margin-right: auto;display: block;width: auto;");
	    canvas.style.display = "block";
	    var context = canvas.getContext('2d');
	    canvas.height = viewport.height;
	    canvas.width = viewport.width;

	    //Draw it on the canvas
	    page.render({canvasContext: context, viewport: viewport});

	    //Add it to the web page
	    document.body.appendChild( canvas );

	    //Move to next page
	    currPage++;
	    if ( thePDF !== null && currPage <= numPages )
	    {
	        thePDF.getPage( currPage ).then( handlePages );
	    }
	}
</script>