{% load staticfiles %}
{% csrf_token %}

<style>
body {
    background-color: #000000;
}
.videoContainer
{
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
}

.videoContainer video
{
    min-width: 100%;
    max-height: 100%;
}
</style>

<script type = "text/javascript" src = "{% static "js/jquery-2.2.3.min.js" %}"></script>

<div class="videoContainer">
{% if video.file %}
<video width="{{video.width}}" height="auto" controls="True">
    <source src="{{video.file.url}}" type="video/mp4">
    <source src="{{ video.file.url }}" type="video/webm">
    <source src="{{ video.file.url }}" type="video/ogg"> 
    Your browser does not support the video tag.
</video>
{% elif video.videoURL %}
    <iframe width="100%" height="100%" src="{{video.videoURL}}" frameborder="0" allowfullscreen name="iframeVideoURL"></iframe>
{% endif %}
</div>




