<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load i18n %}
        {# Load CSS and JavaScript #}
        {% load static from staticfiles %}
        <link rel="stylesheet" href="{% static "bootstrap-3.3.6/dist/css/bootstrap.min.css" %}" media="screen">
        <link rel="stylesheet" href="{% static "bootstrap-3.3.6/dist/css/bootstrap-theme.min.css" %}" media="screen">
        <title>{% trans 'Your vault of  images' %}</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <h1 class="text-center text-info"><b>{% trans 'Your list of  images' %}</b></h1>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    {% for item in data  %}
                    <div class="col-sm-3 col-md-2">
                        <div class="thumbnail">
                            <img src="{{ item.image.url }}" alt="{{ item.image.name }}" style="width: 10em;height: 8em ">
                            <div class="caption">
                                <a href="#" class="btn btn-primary btn-xs choose" data-url="{{ item.image.url }}" role="button">{% trans 'Choose' %}</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                        <h3>{% trans 'Currently empty' %}</h3>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script type = "text/javascript" src = "{% static "js/jquery-2.2.3.min.js" %}"></script>
        <script src="{% static "bootstrap-3.3.6/dist/js/bootstrap.min.js" %}"></script>
        <script>
            jQuery(document).ready(function ($) {
                $('.choose').click(function(){
                    var url = $(this).attr('data-url');
                    window.opener.CKEDITOR.tools.callFunction({{ callback }},url);
                    window.close();
                });

            });
        </script>
    </body>
</html>